<p id="notice"><%= notice %></p>

<p>
  <strong>Pet name:</strong>
  <%= @prescription.pet_name %>
</p>

<p>
  <strong>Type of pet:</strong>
  <%= @prescription.type_of_pet %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @prescription.breed %>
</p>

<p>
  <strong>Age:</strong>
  <%= @prescription.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @prescription.weight %>
</p>

<p>
  <strong>Date of last visit:</strong>
  <%= @prescription.date_of_last_visit %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
